/*
* @name Navigation
* @section Modules
* @description
*  Site navigations
*/

.m-navigation {
    $root: &;
    &__list {
        @include inline-block();
    }

    &__element {
        @include inline-block();
        margin-right: 71px;


        &:last-child {
            margin-right: 0;
        }

        a {
            color: $color-white;
            text-decoration: none;
            font-size: 18px;
            transition: all .2s linear;

            &:hover {
                color: rgba($color-white, .8);
            }
        }
    }
}
